*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    background-color: #202020;
    font-family: sans-serif;
}

/* hover */
.sorrydy:hover {
    color: red;

    transition: 0.6s;
}


.fore, .zeroo, .forr:hover {
    transition: 0.6s;
}

.back:hover {
    color: white;
    transition: 0.7s;
}
/* end hover */

.sorrydy {
    text-align: center;
    align-items: center;
    justify-content: center;
    size: 50px;
    display: flex;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 50px;
    color: white;
    cursor: context-menu;
}

.forr, .fore, .zeroo {
    align-items: center;
    justify-content: center;
    size: 50px;
    font-size: 18px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 50px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    cursor: context-menu;
}

.back {
    align-items: center;
    justify-content: center;
    size: 50px;
    font-size: 18px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 50px;
    color: #a77373;
    cursor: pointer;
    text-decoration: none;
}